<div class="row member-content">
  <div class="col-sm-3 col-sm-offset-1 member-thumb fade-right in">
    <!-- <img class="img-responsive img-center img-thumbnail img-circle" src="{{ .Params.img }}" alt=""> -->
    <div class="circle-avatar" style="background-image:url({{ .Params.img }})"></div>
    <h4>{{ .Params.name }}</h4>
    <p class="title">{{ .Title }}</p>
  </div>
  <div class="col-sm-7">
    <div class="details">
      <p>{{ .Summary }}</p>
      <ul class="social-content">
        {{ if isset .Params "email" }}
        <li><a href="mailto:{{ .Params.email }}"><i class="fa fa-envelope fa-fw"></i></a></li>
        {{end}}
        {{ if isset .Params "twitter" }}
        <li><a href="{{ .Params.twitter }}" target="_blank"><i class="fa fa-twitter fa-fw"></i></a></li>
        {{end}}
        {{ if isset .Params "linkedin" }}
        <li><a href="{{ .Params.linkedin }}" target="_blank"><i class="fa fa-linkedin fa-fw"></i></a></li>
        {{end}}
      </ul>
    </div>
  </div>
</div>
