{{ partial "header.html" .}}
<div class="content-wrapper">
    <div class="container bootstrap snippet">
        <section id="team" class="white-bg padding-top-bottom">
            <div class="container bootstrap snippet">
                <h1 class="section-title text-center page-title">{{ .Title }}</h1>
                <div class="text-center">
                    <p class="section-description">{{ .Content }}</p>
                </div>
                {{ range .Data.Pages.ByWeight }} {{ partial "member.html" . }} {{ end }}
            </div>
        </section>
    </div>
</div>
{{ partial "footer.html" .}}
